extends ../layout/index
block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen de nosotros" class= "img-fluid")
            .col-md-7
                h1= pagina
                blockquote Nam vehicula augue in nulla venenatis, ut congue orci varius. Aenean fringilla, magna vel cursus ornare, nisi magna rutrum nulla, a vestibulum augue est id nunc. Nunc dignissim libero ex, lobortis dapibus felis euismod at.
                p Nulla nisl nulla, mollis eget rhoncus vitae, congue mollis risus. Suspendisse purus lacus, consequat eget dui non, semper pulvinar diam. Aenean at augue a felis commodo molestie ut porta felis.
                p ullam et mollis leo, quis cursus ligula. In tristique risus eget urna luctus condimentum. Ut sit amet erat mollis dui facilisis suscipit ut eu elit. Nunc ante lacus, placerat quis ultricies efficitur, egestas id magna. Morbi id venenatis velit.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Ut ultricies mi a eleifend ornare. Vestibulum vehicula massa non ante dapibus malesuada. In hac habitasse platea dictumst. Suspendisse condimentum fringilla arcu ut aliquam.

                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Ut ultricies mi a eleifend ornare. Vestibulum vehicula massa non ante dapibus malesuada. In hac habitasse platea dictumst. Suspendisse condimentum fringilla arcu ut aliquam.

                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor precio
                    p Ut ultricies mi a eleifend ornare. Vestibulum vehicula massa non ante dapibus malesuada. In hac habitasse platea dictumst. Suspendisse condimentum fringilla arcu ut aliquam.